<!-- Contact Section -->
<div class="container  contact-section" id="contact">
    <div class="row gy-4">
      <!-- Formulaire -->
      <div class="col-lg-7 container">
        <h2 class="text-danger mb-4">Demandez des Informations</h2>
        <p class="text-muted">Nous ferons de notre mieux pour vous répondre dès que possible.</p>
        <form [formGroup]="contactform" >
          <div class="row g-3 mb-3">
            <div class="col-sm-6">
              <input  type="text"  placeholder="First Name" formControlName="from_name" formControlName="firstName" [ngClass]="{'form-control input':true, 'error':this.contactform.controls['firstName'].invalid && this.contactform.controls['firstName'].touched}" />
              
              <!-- @if( this.contactform.controls['firstName'].invalid && this.contactform.controls['firstName'].touched ){
                
              } -->
            </div>
            <div class="col-sm-6">
              <input  type="text"  placeholder="Last Name" formControlName="lastName" [ngClass]="{'form-control input':true, 'error': this.contactform.controls['lastName'].invalid && this.contactform.controls['lastName'].touched}" />
              <!-- @if( this.contactform.controls['lastName'].invalid && this.contactform.controls['lastName'].touched ){
                
              } -->
            </div>
          </div>
          <div class="row g-3 mb-3">
            <div class="col-sm-6">
              <input  type="tel" placeholder="phone" formControlName="phone" [ngClass]="{'form-control input': true, 'error': this.contactform.controls['phone'].invalid && this.contactform.controls['phone'].touched  }" />
              <!-- @if( this.contactform.controls['phone'].invalid && this.contactform.controls['phone'].touched ){
                
              } -->
            </div>
            <div class="col-sm-6">
              <input type="text" placeholder="subject" formControlName="subject" [ngClass]="{'form-control input':true, 'error': this.contactform.controls['subject'].invalid && this.contactform.controls['subject'].touched  }" />
              <!-- @if( this.contactform.controls['subject'].invalid && this.contactform.controls['subject'].touched ){
                
              } -->
            </div>
          </div>
          <div class="mb-3">
            <input type="email"  placeholder="Email" formControlName="email" [ngClass]="{'form-control input':true, 'error': this.contactform.controls['email'].invalid && this.contactform.controls['email'].touched }" />
            <!-- @if( this.contactform.controls['email'].invalid && this.contactform.controls['email'].touched ){
             
            } -->
          </div>
          <div class="mb-3">
            <textarea class="form-control input" rows="4" placeholder="Message" formControlName="message" [ngClass]="{'form-control input':true, 'error': this.contactform.controls['message'].invalid && this.contactform.controls['message'].touched}" ></textarea>
            <!-- @if( this.contactform.controls['message'].invalid && this.contactform.controls['message'].touched ){
              
            } -->
          </div>
          <!-- {{form.value | json}} -->
          <button  type="submit" class="btn btn-danger px-5">Envoyer maintenant</button>
          @if(this.contactform.invalid){
            (submit)="error()"
          }else {
            (submit)="send()"
          }
        </form>
      </div>

      <!-- Informations de contact -->
      <div class="col-lg-5">
        <div class="contact-info">
          <h3 class="text-danger">Vous avez une question ?</h3>
          <p class="text-muted">Si vous avez des questions, n'hésitez pas à nous envoyer un message.</p>
          <div class="d-flex align-items-start mb-3">
            <i class="bi bi-geo-alt me-3"></i>
            <div>
              <strong>Adresse</strong>
              <p>38 Rue de la Glacière, 75013 PARIS - FRANCE</p>
            </div>
          </div>
          <div class="d-flex align-items-start mb-3">
            <i class="bi bi-envelope me-3"></i>
            <div>
              <strong>Email</strong>
              <p>contact&#64;5ds.fr</p>
            </div>
          </div>
          <div class="d-flex align-items-start">
            <i class="bi bi-telephone me-3"></i>
            <div>
              <strong>Téléphone</strong>
              <p>+33 6 35 397 899</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
