
  <div class="container py-5" id="consultants">
    <!-- Titre de la section -->
    <div class="text-center mb-5">
      <h2 class="text-uppercase text-danger">Nos Consultants</h2>
      <h3 class="fw-light">Découvrez notre vitrine diversifiée de consultants</h3>
      <p class="text-muted">De la stratégie commerciale à l'expertise technique avancée, notre équipe de consultants chevronnés est là pour fournir les solutions dont vous avez besoin pour atteindre vos objectifs.</p>
    </div>

    <!-- Cartes des consultants -->
    <div class="row g-4">
      <!-- Consultant 1 -->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body text-center">
            <div class="mb-3">
              <i class="bi bi-person-circle fs-1 text-danger"></i>
            </div>
            <h5 class="card-title">Product Owner</h5>
            <p class="text-muted">4 ans d'expérience</p>
            <p class="card-text">Certifié en PSM I, PSPO I et SaFe 6.0, avec une expertise en HTML, CSS et MERN stack. Expérience en DevOps avec GitLab et Docker, ainsi que des compétences en data avec Power BI et ELK.</p>
          </div>
        </div>
        
      </div>

      <!-- Consultant 2 -->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body text-center">
            <div class="mb-3">
              <i class="bi bi-person-circle fs-1 text-danger"></i>
            </div>
            <h5 class="card-title">Front-End Developer</h5>
            <p class="text-muted">15 ans d'expérience</p>
            <p class="card-text">Expertise en développement Angular, Node.js, MariaDB, MongoDB et SQL. Maîtrise des méthodologies Agile et UX/UI, avec des compétences en DevOps.</p>
          </div>
        </div>
      </div>

      <!-- Consultant 3 -->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body text-center">
            <div class="mb-3">
              <i class="bi bi-person-circle fs-1 text-danger"></i>
            </div>
            <h5 class="card-title">Security Architect</h5>
            <p class="text-muted">13 ans d'expérience</p>
            <p class="card-text">Spécialiste en sécurité des projets, maîtrisant SonarQube, Jira, AWS et GitLab. Intègre des solutions robustes dans les méthodologies Agile.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

 
