<!-- This is the main component of the app -->
<app-navbar></app-navbar> <!-- Navbar component -->
<app-home></app-home> <!-- Home component -->
<app-carousellogo></app-carousellogo> <!-- Carousel logo component -->
<app-about></app-about> <!-- About component -->
<app-why-choose-us></app-why-choose-us> <!-- Why choose us component -->
<app-values></app-values> <!-- Values component -->
<app-services></app-services> <!-- Services component -->
<app-consultants></app-consultants> <!-- Consultants component -->
<app-contact></app-contact> <!-- Contact component -->
<app-footer></app-footer> <!-- Footer component -->