<div class="container my-5 ">
  <h2 class="text-center mb-4">Nos Partenaires</h2>

  <div class="carousel-wrapper">
    <div class="carousel-track" #carouselTrack>
      <!-- Angular boucle pour afficher les logos -->
      <div 
        class="carousel-slide" 
        *ngFor="let logo of logos; let i = index" 
        [class.center]="i === currentCenterIndex">
        <img [src]="logo.src" [alt]="logo.alt" [attr.aria-label]="logo.alt" class="d-block mx-auto">
      </div>
    </div>
  </div>
</div>






<!-- Section logos partenaires -->
<!-- <div class="container my-5">
  <h2 class="text-center mb-4">Nos Partenaires</h2>
  <div id="partnersCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" data-bs-wrap="true"> -->
    <!-- Carrousel des logos -->
    <!-- <div class="carousel-inner text-center"> -->
      <!-- Première diapositive -->
      <!-- <div class="carousel-item active ">
        <div class="row justify-content-center">
          <div class="col-4">
            <img src="assets/carousellogo/logo1.png" class="d-block mx-auto" alt="Logo Solutec" />
          </div>
          <div class="col-4">
            <img src="assets/carousellogo/logo2.png" class="d-block mx-auto" alt="Logo Enedis" />
          </div>
          <div class="col-4">
            <img src="assets/carousellogo/logo3.png" class="d-block mx-auto" alt="Logo Info" />
          </div>
        </div>
      </div>  -->

      <!-- Deuxième diapositive -->
      <!-- <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-4">
            <img src="assets/carousellogo/logo4.png" class="d-block mx-auto" alt="Logo 4" />
          </div>
          <div class="col-4">
            <img src="assets/carousellogo/logo5.png" class="d-block mx-auto" alt="Logo 5" />
          </div>
          <div class="col-4">
            <img src="assets/carousellogo/logo1.png" class="d-block mx-auto" alt="Logo 6" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->









<!-- Section logos partenaires -->
<!-- <div class="container my-5"> -->
  <!-- <h2 class="text-center mb-4">Nos Partenaires</h2>
  <div id="partnersCarousel" class="carousel slide" data-bs-ride="carousel"> -->
    <!-- Carrousel des logos -->
     <!-- <div class="carousel-inner text-center"> -->
      <!-- Première diapositive -->
      <!-- <div class="carousel-item active">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/carousellogo/logo1.png" class="d-block mx-auto" alt="Logo Solutec" />
          </div>
        </div>
      </div>  -->

      <!-- Deuxième diapositive -->
      <!-- <div class="carousel-item ">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/carousellogo/logo2.png" class="d-block mx-auto" alt="Logo Enedis" />
          </div>
        </div>
      </div> -->
      <!-- Troisième diapositive -->
      <!-- <div class="carousel-item ">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/carousellogo/logo3.png" class="d-block mx-auto" alt="Logo Info" />
          </div>
        </div>
      </div> -->
      <!-- quatriéme diapositive -->
      <!-- <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/carousellogo/logo4.png" class="d-block mx-auto" alt="Logo 4" />
          </div>
        </div>
      </div> -->
      <!-- cinquième diapositive -->
      <!-- <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/carousellogo/logo5.png" class="d-block mx-auto" alt="Logo 5" />
          </div>
        </div>
      </div> -->
      <!-- sixième diapositive -->
      <!-- <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/carousellogo/logo1.png" class="d-block mx-auto" alt="Logo 6" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  -->





  