<div class="container text-center py-5" id="services">

  <h5 class="text-uppercase text-danger fw-bold">Our Services</h5>
  <h3 class="mb-5">We're Creating Solutions For Your Organization</h3>
  <div class="row  g-4">
    <!-- Bloc Engineering -->
    <div class="col-md-4 col-lg-4 col-sm-6 ">
      <div class="card border-0 py-4 shadow-lg">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="bi bi-code-slash fs-1 text-danger"></i>
          </div>
          <h5 class="card-title">Engineering</h5>
          <p class="card-text text-muted">Software Development / Web & Mobile Development / API Management.</p>
        </div>
      </div>
    </div>
  
     <!-- Bloc Cloud Solutions -->
     <div class=" col-md-4 col-lg-4 col-sm-6 col-12">
      <div class="card border-0 py-4 shadow-lg">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="bi bi-cloud fs-1 text-danger"></i>
          </div>
          <h5 class="card-title">Cloud Solutions</h5>
          <p class="card-text text-muted">AWS / Azure / GCP...</p>
        </div>
      </div>
    </div>
       <!-- Bloc Big Data -->
    <div class=" col-md-4 col-lg-4 col-sm-6 col-12">
      <div class="card border-0 shadow-lg">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="bi bi-bar-chart fs-1 text-danger"></i>
          </div>
          <h5 class="card-title">Big Data</h5>
          <p class="card-text text-muted">Business Intelligence / Big Data / Machine & Deep Learning.</p>
        </div>
      </div>
    </div>
     <!-- Bloc Training -->
     <div class=" col-md-4 col-lg-4 col-sm-6 col-12">
      <div class="card border-0 shadow-lg">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="bi bi-easel fs-1 text-danger"></i>
          </div>
          <h5 class="card-title">Training</h5>
          <p class="card-text text-muted">Agile / SCRUM: SM, PO / Développement / Cloud / Gestion / Robotique.</p>
        </div>
      </div>
    </div>
    <!-- Bloc Coaching -->
    <div class=" col-md-4 col-lg-4 col-sm-6 col-12">
      <div class="card border-0 shadow-lg">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="bi bi-people fs-1 text-danger"></i>
          </div>
          <h5 class="card-title">Coaching</h5>
          <p class="card-text text-muted">AGILE Coaching / Governance and Product Management.</p>
        </div>
      </div>
    </div>
    <!-- Bloc Design & DM -->
    <div class=" col-md-4 col-lg-4 col-sm-6 col-12">
      <div class="card border-0 shadow-lg">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="bi bi-palette fs-1 text-danger"></i>
          </div>
          <h5 class="card-title">Design & DM</h5>
          <p class="card-text text-muted">Design et gestion des médias numériques.</p>
        </div>
      </div>
    </div>

  </div>
</div>


    

   

   

    

    
