<!-- Carrousel -->
<div id="home" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicateurs -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#homeCarousel"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2"></button>
    </div>
   
    <!-- Images du carrousel -->
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="assets/img1.jpg" class="d-block w-100" alt="Image 1" />
        <div class="carousel-caption">
          <h5>Embarquez pour un voyage d'innovation</h5>
          <p>Explorez des solutions qui mènent au succès.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img2.jpg" class="d-block w-100" alt="Image 2" />
        <div class="carousel-caption">
          <h5>Collaboration égale innovation</h5>
          <p>Atteignez de nouveaux horizons avec nous.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img3.jpg" class="d-block w-100" alt="Image 3" />
        <div class="carousel-caption">
          <h5>Une équipe dédiée pour vous accompagner</h5>
          <p>Innovation et succès à portée de main.</p>
        </div>
      </div>
    </div>
  
    <!-- Boutons de contrôle -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#homeCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#homeCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  

    